*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C1C9CB;
    

}
.card{
    width: 36rem;
    margin-top: 3rem;
    height: 55rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;

    
}
.card__img-ctr{
    width: 100%;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-image: url("../img/tinified/rusticburo.jpg");
    border-radius: 1rem 1rem 0rem 0rem; 
}

.card__bckg{
    width: 100%;
    height: 13rem;
}
.card__profpick{
    width: 18rem;
    height: 18rem;
    border-radius: 9rem;
    position: absolute;
    top: 12.5rem;
    
}
.card__text-ctr{
    position: relative;
    top: 4rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: 
    
}
.card__text-ctr h1{
    font-size: 2rem;
    font-weight: bold;
}
.card__text-ctr span{
    margin-top: 0.7rem;
    font-size: 1.5rem;
}
.card__social-media{
    height: 7rem;
    position: relative;
    bottom: 3rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
   
}

.card__social-media i {
    color: black;
    
    font-size: 3rem;
    height: auto;
}
.card__projects{
    position: relative;
    color: black;
    bottom: 7rem;
    font-size: 1.5rem;
}